::-webkit-scrollbar {
  /* background: #262626; */
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #010101;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  /* display: none; */
}